ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-nav a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
    padding: 15px;
  }
  .main-nav a:hover,
  .main-nav .active {
    color: white;
    background: #3b80d1;
  }

