html {
  background-color: lightskyblue;
}

.App {
  text-align: center;
}

.time-table{
  border: 5px solid black;
  margin: auto;
  background-color: white;
  font-size: 20px;
}

th:first-child, td:first-child{
  border: none;
}

td {
  border: 2px solid black;
}

