html {
  background-color: rgb(219, 216, 216);
}

.App {
  text-align: center;
}
.time-table{
  border: 5px solid rgb(0, 0, 0);
  margin: auto;
  background-color: rgb(220, 221, 221);
  font-size: 20px;
}

.time-table p {
  font-size: 13px;
  padding: 3px;
  margin: 5px;
}

th {
  padding: 6px 0px;
}

th:first-child, td:first-child{
  border: none;
}

td {
  border: 2px solid black;
}

td:nth-of-type(n+2):not(.appointment) {
  background-color: lightslategrey;
}
